<div class="row">
	<div class="col-lg-12">		<h1>DNS</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Servers">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr><td>janus.l33t.network</td><td>192.168.17.5</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>aegaeon.l33t.network</td><td>192.168.17.6</td><td><span class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    nope.jpg
  </div>
</div>